body {
  background-color: beige;
}

main {
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 10px;
  float: left;
  background-color: white;
  border-radius: 20px;
}

header {
  width: 80%;
  float: left;
  background-color: #F56A09;
  padding: 30px 10% 30px 10%;
}

#imgheader {
  width: 100%;
  height: 300px;
  float: left;
}

#nav {
  width: 100%;
  float: left;
  margin-top: 5px;
}

#divlogo {
  width: 40%;
  float: left;
}

#divlogo>img {
  width: 30%;
  height: 50px;
  float: left;
  margin: 2%
}

#divsocial {
  width: 100%;
  text-align: right;
}

.social {
  width: 30px;
  width: 30px;
  border-radius: 20px;
}

#nav>a {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20%;
  font-size: 1.5em;
  color: white;
  text-align: center;
float: left; }
#nav>a:hover{
background-color: white;
color:#F56A09; }
#slogueo>h2{
text-align: center;
}
table{
margin: 0 auto; }
footer{
width:100%;
min-height: 200px;
float:left;
background-color: #F56A09;
}
.divfooter{
width: 33.3%;
float: left;
text-align: center;
}
.divfooter>img{
width: 90px;
height: 90px;
padding-top: 50px;
padding-bottom: 10px;
}
.divfooter>p{
color:white;
font-size: 1.5em;
}
#imgfooter{
width: 100%;
height: 120px;
float: left; }